/* custom.css */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield; 
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

  .Toastify__toast {
    opacity: 0.8 !important;
  }

  @media (max-width: 640px) {
    .Toastify__toast {
      opacity: 0.9 !important;
    }
  }
  
  .toastBody {
    font-family: "Open Sans";
    font-size: 1rem;
  }

  img {
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  img {
    image-rendering: auto;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
  }